.ant-divider-horizontal {
  margin: 8px 0 0 0 !important;
}

th::before {
  display: none !important;
}

.ant-table-thead > tr > th {
  padding: 10px 16px !important;
}
.ant-table-tbody > tr > td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-table-selection-extra {
  display: none !important;
}

.period-column {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid #f0f0f0;
  padding: 10px 3px;
  width: 150px;
}

table th,
table td {
  text-align: center;
  vertical-align: middle;
}

.monitor-button {
  padding: 0 5px;
  border-radius: 5px;
  height: 26px;
}
.buttons-sec {
  text-align: center;
}
.monitoring-component {
  background-color: #fff;
}
h2.card-header {
  background-color: #fff;
  padding: 10px;
}

tbody.table-body > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
/* .ant-table.ant-table-bordered > .ant-table-footer { */
.ant-table.ant-table-bordered > .ant-table-footer {
  border: 0 !important;
}
.view-all {
  border: 1px solid #fff !important;
  border-top: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: -15px;
}
