<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-map></app-map> -->
<div class="welcome-component">
  <app-search
    title="Search jobs"
    template="Select Template"
    [radioValues]="this.radioValuesInput"
    [radioValueIndex]="radioValueIndex"
    (outPutSearch)="getOutPutSearchValue($event)"
  ></app-search>
</div>

<!-- spinner -->
<app-loader
  *ngIf="serviceStatusData?.isActive"
  [type]="serviceStatusData?.type"
  [message]="serviceStatusData?.message"
  [desc]="serviceStatusData?.desc"
></app-loader>
