<!-- <pre>test {{dynamicFormFieldsJSON_1 | json}}</pre> -->
<div class="create-jobs">
  <ng-container
    *ngIf="this.templatesData.selectTemplate === 'billing'; else elseTemplate"
  >
    <app-common
      [dynamicFormFields]="billingJSON"
      (getLatestFormData)="LatestFormData($event)"
      grid="grid"
      title="Create/Edit - Billing Job"
    >
    </app-common>
  </ng-container>
  <ng-template #elseTemplate>
    <app-common
      [dynamicFormFields]="routineJSON"
      (getLatestFormData)="LatestFormData($event)"
      [grid]="grid"
      title="Create/Edit - Routing Job"
    >
    </app-common>
  </ng-template>
</div>